<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Show</title>
</head>
<body>

<a href="/">Show All Courses</a><br/>
Subject :<span th:text="${course.subject.title}" ></span><br />
Title : <span th:text="${course.title}"></span><br/>
Instructor : <span th:text="${course.instructor}"></span><br/>
Description : <p th:text="${course.description}"></p>
Credits : <span th:text="${course.credit}"></span><br/>

<a th:href="@{/delete/{id}(id=${course.id})}">Delete this course</a>

</body>
</html>